@import "tailwindcss";

:root{
  --col1: #22223B;
  --col2: #292929;
  --col3: #454555;
  --col4: #C9ADA7;
  --col5: #9A8C98;
  --col-text: #F2E9E4;
  --col-black: #000;
}

body{
  margin: 0;

  background-color: var(--col1);
  color: var(--col-text);
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

.background{
  background: url("../public/bg-plus.png");
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background_bright{
  background: url("../public/bg-plus.png");
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;
  pointer-events: none;
  z-index: -1;
}

.title-font{
  font-family: "Krona One", serif;
}

.button-nav{
  background-color: var(--col3);
  border: none;
  padding: .5em;
  border-radius: 5em;
  font-weight: bold;
  max-width: 500px;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-size: larger;

  .button-container{
    background-color: var(--col2);
    color: var(--col5);
    border-radius: 5em;
    padding: .5em 0;
  }

  button{
    z-index: 1;
  }

  .button{
    padding: 0 1em;
  }

  /* to fix later */
  .button-active{
    position: absolute;
    background-color: var(--col5);
    border: 2px solid var(--col4);
    border-radius: 5em;
    box-shadow: inset 0px -2px 8px rgba(0, 0, 0, 0.5);
    width: 47.8%; 
    height: 75%;
    margin-top: -.5em;
  }

  .text-active{
    color: var(--col2);
    transition: .3s;
  }
}

.data-entry{
  margin: .5em 0; 
  padding: 1em;
  border-radius: 3em;

  background-color: #00000031;
  backdrop-filter: blur(2px); 

  h2{
    font-family: "Krona One", serif;
  }
}

.data-hr{
  height: .5em;
  background: white;
  background: linear-gradient(to right, white 0%, var(--col4) 100%);
  margin-left: .5em;
  flex-grow: 1;
}

.work-hr{
  height: .25em;
  width: 100%;
  background: var(--col3);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--col3) 50%, rgba(255,255,255,0) 100%);
  margin: 1em 0;
  border: none;
}

.data-link{
  background-color: var(--col4);
  color: var(--col2);
  font-family: "Krona One", serif;
  padding: .25em .5em;
  border-radius: 5em;
  transform: translate(-1%, 0);
  transition: transform 0.2s ease-in-out;
}

.data-link:hover {
  transform: scale(1.2);
}

.data-desc{
  margin-left: 1.5em;
  margin-right: 5em;

  .data-tech{
    color: var(--col5);
  }
}
